.inventory-cont{
    box-shadow: 0px 3px 6px #272D3B33;
    border-radius: 20px;
    margin-top: 1em;
    padding: 1em;
    .top_part{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}