nav{
    display: grid;
    grid-template-columns: 14% 86%;
    overflow-y: hidden;
    height: 100vh;
    .sidebar-cont{
        position: relative;
        background: #2951FE;
        height: 100vh;
        overflow-y: hidden;
        color: #fff;
        padding-left: 1em;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        .logo{
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 2em;
        }
        .nav-links{
            margin: 0;
            padding: 0;
            list-style: none;
            height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li{
                display: flex;
                align-items: center;
                .material-symbols-outlined{
                    margin-right: 10px;
                }
            }
        }
        .menu-cont{
            position: absolute;
            bottom: 0;
            margin-bottom: 2em;
            display: flex;
            align-items: center;
            .dp{
                width: 40px;
                height: 40px;
                margin-right: 6px;
                border-radius: 50%;
            }
            .profile{
                .active{
                    display: flex;
                    align-items: center;
                    margin-top: -27px;
                    p{
                        font-size: 12px;
                        opacity: 0.7;
                    }
                    svg {
                        height: 1.25rem;
                        width: 1.25rem;
                        cursor: pointer;
                      }
                }
            }
        }
    }
    .topnav-cont{
        box-shadow: 0px 3px 6px #272D3B33;
        height: 7vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .topbar__search {
            background-color: #F7F7F7;
            backdrop-filter: blur(40px);
            border: 1px solid #707070;
            border-radius: 20px;
            display: flex;
            align-items: center;
            padding: .5em 1em;
            margin-right: 2em;
            input {
              outline: none;
              border: none;
              flex-basis: 67%;
              margin-right: 0.8rem;
              background-color: inherit;
              font-size: .7rem;
              font-weight: 500;
        
              &::-webkit-input-placeholder {
                font-weight: 500;
                color: #000;
              }
        
            }
        }
        .notification{
            position: relative;
            margin-right: 2em;
            svg {
                height: 1.55rem;
                width: 1.55rem;
                cursor: pointer;
              }
            //   span {
            //     font-size: 1.1rem;
            //     height: 1.7rem;
            //     width: 1.7rem;
            //     border-radius: 50%;
            //     background-color: var(--color-primary);
            //     color: #ffffff;
            //     position: absolute;
            //     bottom: 1.6rem;
            //     left: 1.2rem;
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            //   }
        }
    }
    .content{
        margin: 0;
        padding: 0;
        height: 100vh;
        overflow-y: scroll;
    }
}